body {
  background: url(http://earthguide.ucsd.edu/eoc/teachers/t_tectonics/images/GLOBALeb10colshade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  color: white;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.active {
  color: blue;
}

.dot {
  height: 8px;
  width: 8px;
}

.hoverInfo {
  background: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 200px;
  word-wrap: normal;
}

.memberFaces {
  max-height: 100px;
  max-width: 100px;
}

.message {
  font-style: italic;
}
